<div class="theme-option theme-colors clearfix">
    <span>主题色</span>
    <ul>
        <li class="color-default current tooltips" data-style="default" data-container="body" data-original-title="Default">
        </li>
        <li class="color-darkblue tooltips" data-style="darkblue" data-container="body" data-original-title="Dark Blue">
        </li>
        <li class="color-blue tooltips" data-style="blue" data-container="body" data-original-title="Blue">
        </li>
        <li class="color-grey tooltips" data-style="grey" data-container="body" data-original-title="Grey">
        </li>
        <li class="color-light tooltips" data-style="light" data-container="body" data-original-title="Light">
        </li>
        <li class="color-light2 tooltips" data-style="light2" data-container="body" data-html="true" data-original-title="Light 2">
        </li>
    </ul>
</div>

<div class="theme-option">
    <span>布局</span>
    <select class="layout-option form-control input-sm">
        <option value="fluid" selected="selected">全屏</option>
        <option value="boxed">居中</option>
    </select>
</div>
<div class="theme-option">
    <span>菜单样式</span>
    <select class="sidebar-style-option form-control input-sm">
        <option value="default" selected="selected">默认</option>
        <option value="light">常用</option>
    </select>
</div>
<div class="theme-option">
    <span>导航栏模式</span>
    <select class="sidebar-menu-option form-control input-sm">
        <option value="accordion" selected="selected">下拉式</option>
        <option value="hover">横扩展</option>
    </select>
</div>
<div class="theme-option">
    <span>菜单位置</span>
    <select class="sidebar-pos-option form-control input-sm">
        <option value="left" selected="selected">左</option>
        <option value="right">右</option>
    </select>
</div>
<div class="theme-option">
    <span>顶部显示</span>
    <select class="page-header-option form-control input-sm">
        <option value="fixed" selected="selected">固定</option>
        <option value="default">不固定</option>
    </select>
</div>
<div class="theme-option">
    <span>底部显示</span>
    <select class="page-footer-option form-control input-sm">
        <option value="fixed" selected="selected">固定</option>
        <option value="default">不固定</option>
    </select>
</div>