<div class="nav-justified">
    <ul class="nav nav-tabs nav-justified">
        <li class="active">
            <a href="#quick_sidebar_tab_1" data-toggle="tab">用户<span class="badge badge-danger">5</span></a>
        </li>
        <li>
            <a href="#quick_sidebar_tab_2" data-toggle="tab">其它<span class="badge badge-success">19</span></a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active page-quick-sidebar-chat" id="quick_sidebar_tab_1">
            <div class="page-quick-sidebar-chat-users" data-rail-color="#ddd" data-wrapper-class="page-quick-sidebar-list">
                <h3 class="list-heading">系统用户</h3>
                <ul class="media-list list-items">
                    <li class="media">
                        <div class="media-status">
                            <span class="badge badge-success">8</span>
                        </div>
                        <img class="media-object" src="~/img/default.jpg" alt="...">
                        <div class="media-body">
                            <h4 class="media-heading">韩迎龙</h4>
                            <div class="media-heading-sub">系统管理员</div>
                            <div class="media-heading-small">2016-08-08 12:11:11</div>
                        </div>
                    </li>
                    <li class="media">
                        <img class="media-object" src="~/img/default.jpg" alt="...">
                        <div class="media-body">
                            <h4 class="media-heading">陈缘萍</h4>
                            <div class="media-heading-sub">系统管理员</div>
                            <div class="media-heading-small">2016-08-08 12:11:11</div>
                        </div>
                    </li>
                </ul>
                <h3 class="list-heading">注册用户</h3>
                <ul class="media-list list-items">
                    <li class="media">
                        <div class="media-status">
                            <span class="badge badge-warning">10</span>
                        </div>
                        <img class="media-object" src="~/img/default.jpg"alt="...">
                        <div class="media-body">
                            <h4 class="media-heading">张三</h4>
                            <div class="media-heading-sub">游客</div>
                            <div class="media-heading-small">2016-08-08 12:11:11</div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- 聊天记录信息 -->
            <div class="page-quick-sidebar-item">
                <div class="page-quick-sidebar-chat-user">
                    <div class="page-quick-sidebar-nav">
                        <a href="javascript:;" class="page-quick-sidebar-back-to-list"><i class="icon-arrow-left"></i>返回</a>
                    </div>
                    <div class="page-quick-sidebar-chat-user-messages">
                        <div class="post out">
                            <img class="avatar" alt="" src="~/img/default.jpg"/>
                            <div class="message">
                                <span class="arrow"></span>
                                <a href="javascript:;" class="name">韩迎龙</a>
                                <span class="datetime">20:15</span>
                                <span class="body">您已经写完了吗？</span>
                            </div>
                        </div>
                        <div class="post in">
                            <img class="avatar" alt="" src="~/img/default.jpg"/>
                            <div class="message">
                                <span class="arrow"></span>
                                <a href="javascript:;" class="name">陈缘萍</a>
                                <span class="datetime">20:15</span>
                                <span class="body">我还没有写完呢</span>
                            </div>
                        </div>
                    </div>
                    <div class="page-quick-sidebar-chat-user-form">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="回复消息...">
                            <div class="input-group-btn">
                                <button type="button" class="btn blue"><i class="icon-paper-clip"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane page-quick-sidebar-alerts" id="quick_sidebar_tab_2">
            <div class="page-quick-sidebar-alerts-list">
                <h3 class="list-heading">通常的/消息列表</h3>
                <ul class="feeds list-items">
                    <li>
                        <a href="javascript:;">
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm label-info">
                                            <i class="icon-food"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc">暂留待开发</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2"><div class="date">Just now</div></div>
                        </a>
                    </li>
                </ul>
                <h3 class="list-heading">系统任务</h3>
                <ul class="feeds list-items">
                    <li>
                        <a href="javascript:;">
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm label-success">
                                            <i class="icon-food"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2"><div class="desc">暂留待开发</div></div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="date">
                                    20 mins
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>