@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>初心登录</title>
        <environment names="Development">
            <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" asp-fallback-href="~/js/bootstrap/dist/css/bootstrap.min.css" />
            <link rel="stylesheet" href="http://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css" asp-fallback-href="~/js/bootstrapvalidator/dist/css/bootstrapValidator.min.css" />
            <link rel="stylesheet" href="~/front/css/login.css" asp-append-version="true" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" asp-fallback-href="~/js/bootstrap/dist/css/bootstrap.min.css" />
            <link rel="stylesheet" href="http://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css" asp-fallback-href="~/js/bootstrapvalidator/dist/css/bootstrapValidator.min.css" />
            <link rel="stylesheet" href="~/front/css/login.css" asp-append-version="true" />
        </environment>
    </head>
    <body>
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a asp-controller="Home" asp-action="Index"><img src="~/img/logo/logo.png" class="toplogo" /></a> 
            </div>
            <div style="clear:both;"></div>
            <div class="maincontent">
                <div class="formiddle">
                    <div class="leftbg col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="padding-bottom:0px;">
                            <a >@*<img src="~/img/bg.png" class="img-responsive" style="margin:0 auto;">*@</a>
                        </div>
                        <div class="rightlogin col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="loginbox">
                                <div class="tab">
                                    <div id="login_regist_Tab" class="nav nav-tabs" style="height:60px;border-bottom:1px solid #f4f4f4">
                                        <div class="active col-xs-5 col-sm-5 col-md-5 col-lg-5" style="line-height:60px;text-align:center;">
                                            <a href="#login" id="btnLoginSkip">登录</a>
                                        </div>
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="color:#666;line-height:60px;text-align:center;">
                                            <a href="#regist" id="btnRegisterSkip" class="regestSkip" style="font-weight:700;font-size:20px;">注册</a>
                                        </div>
                                    </div>
                                </div>
                                <div id="login_regist_TabContent" class="tab-content">
                                    <form class="tab-pane fade in active" role="form" id="login" method="post">
                                        <div class="warning" style="display:none"><i class="glyphicon glyphicon-exclamation-sign"></i>公共场所不建议选中,防止账号被盗</div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon  glyphicon-envelope"></i></span>
                                                <input type="text" id="login_name_in" name="login_name_in" placeholder="请输入邮箱/手机号..." class="form-email form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                <input type="password" name="user_pwd_in" id="user_pwd_in" placeholder="请输入密码..." class="form-email form-control">
                                            </div>
                                        </div>
                                        <button type="submit" id="btnLogin" class="btn btn-block sign-up-main btn-success"><strong>登录</strong></button>
                                        <div class="form-group" style="margin-top:15px;">
                                            <div class="col-sm-6">
                                                <div class="checkbox" style="float:left;"><label><input type="checkbox" id="checkRemember">请记住我</label></div>
                                            </div>
                                            @*<div class="forderpwd col-sm-6">
                                                <div class="forderpwdbox"><label><a style="color:#666;">忘记密码</a></label></div>
                                            </div>*@
                                        </div>
                                        <div style="clear:both;"></div>
                                    </form>

                                    <form class="tab-pane fade" id="regist">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                                <input type="text" id="user_email" name="user_email" placeholder="请输入正规邮箱(激活用户)..." class="form-email form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                                                <input type="text" id="user_phone" name="user_phone" placeholder="请输入手机..." class="form-email form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon  glyphicon-lock"></i></span>
                                                <input type="password" id="user_pwd" name="user_pwd" placeholder="请输入密码..." class="form-email form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                <input type="password" id="user_pwd_ok" name="user_pwd_ok" placeholder="请输入确认密码..." class="form-email form-control">
                                            </div>
                                        </div>
                                        <button type="submit" id="btnRegister" class="btn btn-block sign-up-main btn-success"><strong>注册</strong></button>
                                        <div style="clear:both;"></div>
                                    </form>
                                </div>

                                <div class="loginway">
                                    <div>
                                        <ul class="loginwaylist" style="display:none">
                                            <li><a>QQ</a></li>|<li><a>微信</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div style="text-align:center;">
                    <ul class="loginwaylist" style="background:white">
                        <li><a asp-controller="Home" asp-action="Index">首页</a></li>|
                        <li><a asp-controller="Home" asp-action="Index">初心商城</a></li>|
                        <li><a asp-controller="System" asp-action="News">网站公告</a></li>|
                        <li><a asp-controller="System" asp-action="Aboutus">关于我们</a></li>
                    </ul>
                    <div style="margin-top:-18px;padding-top:0px;color:#666 !important;">
                        @ViewBag.Copyright <a href="http://www.miitbeian.gov.cn/" target="_blank">京ICP备16055626号</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="usernamechoise" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="height:auto;">
                <div class="modal-content">
                    <div class="modal-header"><a class="close" data-dismiss="modal">×</a></div>
                    <div class="modal-body">
                        <div class="warning"><i class="glyphicon glyphicon-exclamation-sign"></i>请填写或者选择用户名（必填项）</div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" name="user_name" id="user_name" placeholder="请输入用户名(标示用户)..." class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="border: 1px solid #d0d6df;padding:10px;">
                            <ul class="choiseitem" id="choiseItem">
                                <li>夏天的味道</li>|
                                <li>抛弃、幸福</li>|
                                <li>程序猿的幸福</li>|
                                <li>时光旅行者</li>|
                                <li>狂风般洒脱</li>|
                                <li>怪异思维女</li>|
                                <li>偏执的傲</li>|
                                <li>思想的领袖</li>|
                                <li>高姿態美女</li>|
                                <li>用生命在耍帅</li>|
                                <li>钓鱼岛是中国的</li>
                            </ul>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="modal-footer" style="background:white;margin-top:0px;">
                        <button type="submit" id="btnAddUsernName" class="btn btn-success"><strong>添加用户名</strong></button>
                    </div>
                </div>
            </div>
        </div>
   
        <environment names="Development">
            <script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js" asp-fallback-src="~/js/jquery/dist/jquery.min.js"></script>
            <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" asp-fallback-src="~/js/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="http://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js" asp-fallback-src="~/js/bootstrapvalidator/dist/js/bootstrapValidator.min.js"></script>
            <script src="~/js/jquery.md5.js" asp-append-version="true"></script>
            <script src="~/js/plscommon.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js" asp-fallback-src="~/js/jquery/dist/jquery.min.js"></script>
            <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" asp-fallback-src="~/js/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="http://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js" asp-fallback-src="~/js/bootstrapvalidator/dist/js/bootstrapValidator.min.js"></script>
            <script src="~/js/jquery.md5.js" asp-append-version="true"></script>
            <script src="~/js/plscommon.js" asp-append-version="true"></script>
        </environment>
        <script src="~/front/js/login.js" asp-append-version="true"></script>
        <script type="text/javascript">
            $(function () {
                pls.front.login.init({
                    return_url: "@ViewBag.HttpUrl",
                    type_show: "@ViewBag.Type"
                });
            })
        </script>
    </body>
</html>