Thumbs.db
NuGet.exe
*~
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.xls
*.txt
*.csv
lib
.vs
PublishProfiles/
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
test
nlog-*
upload/


# DNX(.NET Execution Enviroment) (https://github.com/github/gitignore/blob/master/VisualStudio.gitignore)
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

