@{
    Layout = null;
}
<div class="panel-body" style="padding:0">
    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <form id="formSearch" class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-1" for="department_name_search">名称：</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="department_name_search">
                    </div>

                    <label class="control-label col-sm-1" for="distable_status">状态：</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="distable_status">
                            <option value="-1">全部</option>
                            <option value="0">启用</option>
                            <option value="1">禁用</option>
                            
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" id="btnQueryList" class="btn btn-primary"><i class="icon-search"></i>查询</button>
                        <button type="button" id="btnReset" class="btn btn-primary"><i class="icon-remove"></i>清空</button>
                    </div>
                </div>
            </form>
            <hr />
            <div>
                <table id="departmentinfo"></table>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("ButtionInfo")
   
@*添加编辑浮层*@
<div class="modal fade" id="AddEditModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button>
                <h4 class="modal-title" id="HeadTitle">部门信息添加</h4>
            </div>
            <div class="modal-body">
                <form id="departmentOperation" method="post" class="form-horizontal">
                    <input type="hidden" id="department_id" name="department_id" />
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">部门名称:</span>
                            <input type="text" id="department_name" name="department_name" placeholder="请输入部门名称" maxlength="20" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">部门描述:</span>
                            <textarea rows="3" id="department_desc" name="department_desc" placeholder="请输入部门描述" maxlength="200" class="form-control"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-reply"></i>取消</button>
                    <button type="button" class="btn btn-primary" id="btnAddData"><i class="icon-ok"></i>确定</button>
            </div>
         </div>
    </div>
</div>

@*详情浮层*@
<div class="modal fade" id="DetailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button>
                <h4 class="modal-title">部门信息详情</h4>
            </div>
            <div class="modal-body">
                <form id="departmentDetail" class="form-horizontal">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">部门Id:</span>
                            <input type="text" id="detail_department_id" readonly="readonly" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">部门名称:</span>
                            <input type="text" id="detail_department_name" readonly="readonly" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">部门描述:</span>
                            <textarea rows="3" id="detail_department_desc" readonly="readonly" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">创建时间</span>
                            <input type="text" id="detail_department_createtime" readonly="readonly" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">是否禁用：</span>
                            <input type="text" id="detail_department_disable" readonly="readonly" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">禁用原因:</span>
                            <textarea  rows="4" id="detail_department_disabledesc" readonly="readonly" class="form-control"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@* 启用禁用模型 *@
<div class="modal fade" id="DisableEditModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button>
                <h4 class="modal-title"><span id="disableName">***</span>：数据禁用启用管理</h4>
            </div>
            <div class="modal-body">
                <form id="disableOperation" method="post" class="form-horizontal">
                    <p>友情提示：禁用启用状态都会有数据记录</p>
                    <input type="hidden" id="id" name="id" />
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">描述:</span>
                            <textarea rows="3" id="disable_desc" name="disable_desc" placeholder="请输入部门描述" maxlength="200" class="form-control"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-reply"></i>取消</button>
                <button type="button" class="btn btn-primary" id="btnDisable"><i class="icon-ok"></i>确定</button>
            </div>
        </div>
    </div>
</div>

<script src="~/admin/js/limit/department.js" asp-append-version="true"></script>
<script type="text/javascript">
    $(function () {
        pls.admin.department.init();
    })
</script>
