/*
    作者：KeyBaby
    功能：实现用户注册确认页面CSS
    时间：2016-11-20
*/
body{
    font-size: 14px;
    color:#666666;
    background:#efefef;
  
}
@media (min-width: 750px){
    .nav{
       width:600px !important;
    }
}
.activation{
    list-style: none;
}
.activation>li{
    display: inline-block;
    font-size:45px;
    color:#cccccc;
    margin-right:15px;
}

.box{
    margin-left: 15px;
    margin-right: 15px;
    background:white;
    border-radius:5px;
    padding:20px 50px 20px 50px;
    margin:0 auto;
    width:auto;
    text-align: center;
    border-top:5px solid #cccccc;
}
.arrow_to_emailactive{
    font-size:30px !important;
    line-height: 64px;
}
.arrow_to_ok{
    font-size:30px !important;
    line-height: 64px;
}
.loginwaylist{
    list-style: none;
}
.loginwaylist>li{
    display:inline-block;
	line-height:50px;
	width:76px;
	font-size:14px;
	text-align:center;
}
.loginwaylist>li>a{
    color:#666;
}
.active{
    color:#6cbc64 !important;
}
.toplogo{
    margin-left: 100px;
    padding: 10px 5px 10px 5px;
}
.button{
    padding:5px 15px 5px 15px;
    color:white;
    font-size: 14px;
    background: #ffc627;
    line-height:35px;
    width:200px;
    text-align: center;
    border-radius: 5px;
    margin:0 auto;
}
.header{
    background:white;
    margin-top:0px;
}
.boxcontent{
    background:#47748a;
    border:1px solid #f5d7d7;
    border-radius:5px;
    height:auto;
    text-align:center;
    width:500px;
    margin:0 auto;
    padding:40px 20px 40px 20px;
    color:white;
    box-shadow:5px 5px 5px #cccccc;
}
.footer{
    padding-left:0px;
    padding-right:0px;
    background:#efefef;
    padding-top:15px;
}
.record{
    margin-top:-18px;
    padding-top:0px;
    color:#666 !important;
    line-height:30px;
}